@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$font: 'Poppins';
$white: #fff;
$black: #263238;
$blue: #499aea;
$gray: #d9d9d9;
$lightGray: #eceff1;
$transparente: rgba(255, 255, 255, 0);

$secundary: #F5F4D8;
$primary: #B1122A;

* {
    box-sizing: border-box;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $lightGray;
    overflow-y: scroll;
}

.containerHeader {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
    position: absolute;
    background-color: $transparente;
    z-index: 3;
    .containerBot {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        margin-right: 5%;
        .botton {
            color: $white;
            font-size: 12px;
            margin-right: 3%;
            margin-left: 3%;
            font-family: $font, sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
        .bottonNav {
            color: $white;
            font-size: 18px;
            margin-right: 3%;
            margin-left: 3%;
            font-family: $font, sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
        a:hover {
            color: $blue;
        }
        .botonBuscar {
            width: 15px;
            height: 15px;
            margin-left: 15%;
        }
        .botonBuscarNav {
            width: 20px;
            height: 20px;
            margin-left: 15%;
        }
    }
}

.containerCabezera {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .containerInfoCab {
        width: 100%;
        height: 500px;
        padding-left: 4%;
        padding-right: 4%;
        position: absolute;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .ladoDer {
            width: 45%;
            height: 500px;
            justify-content: center;
            align-content: center;
            align-items: center;
            float: left;
            padding-left: 8%;
            padding-top: 4%;
            .titulo {
                font-family: $font, sans-serif;
                font-size: 75px;
                font-weight: 900;
                color: $white;
            }
            .parrafo {
                font-family: $font, sans-serif;
                width: 100%;
                font-size: 14px;
                margin-top: 6%;
                margin-bottom: 6%;
                color: $white;
                line-height: 30px;
            }
            .containerBotConoce {
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                .botConoce {
                    width: 35%;
                    height: 40px;
                    -webkit-border-radius: 10px;
                    -webkit-border-top-right-radius: 0;
                    -moz-border-radius: 10px;
                    -moz-border-radius-topright: 0;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: $white;
                    .textBot {
                        font-family: $font, sans-serif;
                        font-weight: 600;
                        margin-left: 8px;
                        color: $black;
                    }
                    .arrow {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .botConoce:hover {
                    background: $blue;
                    .textBot {
                        color: $white;
                        font-weight: 900;
                    }
                    .arrow {
                        margin-left: 20px;
                    }
                }
            }
        }
        .ladoIzq {
            width: 55%;
            height: 500px;
            float: right;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding-bottom: 2%;
            .imgCasa {
                width: 100%;
                height: 100%;
                display: block;
                margin: auto;
            }
        }
    }
    .imgFondo {
        width: 100%;
        height: 100%;
    }
}

.containerCategorias {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .containerTitulo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .titulo {
            font-family: $font, sans-serif;
            font-size: 40px;
            font-weight: 900;
            color: $black;
        }
    }
    .container {
        .section {
            .row {
                .categoria {
                    width: 30%;
                    height: 300px;
                    -webkit-border-radius: 10px;
                    -webkit-border-top-right-radius: 0;
                    -moz-border-radius: 10px;
                    -moz-border-radius-topright: 0;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: $white;
                }
            }
        }
    }
}

.containerProductos {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $gray;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: $lightGray;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $blue, $alpha: 0.5);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: $blue;
}