@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$font: 'Poppins';
$white: #fff;
$black: #263238;
$lightblack: #61727c;
$blue: #499aea;
$gray: #d9d9d9;
$lightGray: #eceff1;
$transparente: rgba(255, 255, 255, 0);

$categProduct1: #499aea;
$categProduct2: #eab749;
$categProduct3: #f23604;
$categProduct4: #7e49ea;

$secundary: #F5F4D8;
$primary: #B1122A;

* {
    box-sizing: border-box;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

#sidenav-overlay {
    opacity: 0;
}

.sidenav-overlay {
    opacity: 0;
}

.containerBody {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $lightGray;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.containerHeader {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
    position: absolute;
    background-color: $transparente;
    z-index: 3;
    .containerBot {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        margin-right: 5%;
        .botton {
            color: $white;
            font-size: 12px;
            margin-right: 3%;
            margin-left: 3%;
            font-family: $font, sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
        .bottonNav {
            color: $white;
            font-size: 18px;
            margin-right: 3%;
            margin-left: 3%;
            font-family: $font, sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
        a:hover {
            color: $blue;
        }
        .botonBuscar {
            width: 15px;
            height: 15px;
            margin-left: 15%;
        }
        .botonBuscarNav {
            width: 20px;
            height: 20px;
            margin-left: 15%;
        }
    }
    .contNav {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.containerCabezera {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .containerInfoCab {
        width: 100%;
        height: 500px;
        padding-left: 4%;
        padding-right: 4%;
        position: absolute;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .ladoDer {
            width: 45%;
            height: 500px;
            justify-content: center;
            align-content: center;
            align-items: center;
            float: left;
            padding-left: 8%;
            padding-top: 4%;
            .titulo {
                font-family: $font, sans-serif;
                font-size: 75px;
                font-weight: 900;
                color: $white;
            }
            .parrafo {
                font-family: $font, sans-serif;
                width: 100%;
                font-size: 14px;
                margin-top: 6%;
                margin-bottom: 6%;
                color: $white;
                line-height: 30px;
            }
            .containerBotConoce {
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                .botConoce {
                    width: 35%;
                    height: 40px;
                    -webkit-border-radius: 10px;
                    -webkit-border-top-right-radius: 0;
                    -moz-border-radius: 10px;
                    -moz-border-radius-topright: 0;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    background: $white;
                    .textBot {
                        font-family: $font, sans-serif;
                        font-weight: 600;
                        margin-left: 8px;
                        color: $black;
                    }
                    .arrow {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .botConoce:hover {
                    background: $blue;
                    .textBot {
                        color: $white;
                        font-weight: 900;
                    }
                    .arrow {
                        margin-left: 20px;
                    }
                }
            }
        }
        .ladoIzq {
            width: 55%;
            height: 500px;
            float: right;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding-bottom: 2%;
            .imgCasa {
                width: 100%;
                height: 100%;
                display: block;
                margin: auto;
            }
        }
    }
    .imgFondo {
        width: 100%;
        height: 100%;
        display: block;
                margin: auto;
    }
}

.containerCategorias {
    width: 100%;
    height: 800px;
    margin: 0 0 8% 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .containerTitulo {
        width: 100%;
        height: 20%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .titulo {
            font-family: $font, sans-serif;
            font-size: 30px;
            font-weight: 800;
            color: $black;
        }
    }
    .container {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        .section {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            .row {
                width: 100%;
                margin: 0;
                padding: 0 15%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                .categoria {
                    width: 40%;
                    height: 300px;
                    -webkit-border-radius: 15px;
                    -webkit-border-top-right-radius: 0;
                    -moz-border-radius: 15px;
                    -moz-border-radius-topright: 0;
                    border-radius: 15px;
                    border-top-right-radius: 0;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    margin: 2%;
                    background: $white;
                    -webkit-box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                    -moz-box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                    box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                    .imgCateg {
                        width: 100%;
                        height: 80%;
                        display: block;
                        margin: auto;
                        -webkit-border-radius: 15px;
                        -webkit-border-top-right-radius: 0;
                        -moz-border-radius: 15px;
                        -moz-border-radius-topright: 0;
                        border-radius: 15px;
                        border-top-right-radius: 0;
                    }
                    .tituCateg {
                        width: 100%;
                        height: 20%;
                        font-family: $font, sans-serif;
                        font-size: 20px;
                        font-weight: bold;
                        color: $black;
                        display: flex;
                        float: left;
                        //justify-content: center;
                        align-content: center;
                        align-items: center;
                        margin: 0;
                        padding-left: 15%;
                    }
                }
            }
        }
    }
}

.containerProductos {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: $gray;
    .containerTitulo {
        width: 100%;
        height: 10%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .titulo {
            font-family: $font, sans-serif;
            font-size: 30px;
            font-weight: 800;
            color: $black;
        }
    }
    .container {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        .section {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            .row {
                width: 100%;
                margin: 0;
                padding: 0 5%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                .producto {
                    width: 29%;
                    height: 400px;
                    -webkit-border-radius: 15px;
                    -webkit-border-top-right-radius: 0;
                    -moz-border-radius: 15px;
                    -moz-border-radius-topright: 0;
                    border-radius: 15px;
                    border-top-right-radius: 0;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    margin: 2%;
                    background: $white;
                    .contImgProduct {
                        width: 100%;
                        height: 75%;
                        position: relative;
                        .contCategProduct1{
                            width: 40%;
                            height: 30px;
                            margin: 4%;
                            position: absolute;
                            z-index: 2;
                            background: $categProduct1;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            border-radius: 5px;
                            .tituCategProduct {
                                font-family: $font, sans-serif;
                                font-size: 16px;
                                font-weight: 900;
                                color: $white;
                                margin: 0;
                                display: flex;
                                align-content: center;
                                align-items: center;
                            }
                        }
                        .contCategProduct2{
                            width: 40%;
                            height: 30px;
                            margin: 4%;
                            position: absolute;
                            z-index: 2;
                            background: $categProduct2;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            border-radius: 5px;
                            .tituCategProduct {
                                font-family: $font, sans-serif;
                                font-size: 16px;
                                font-weight: 900;
                                color: $white;
                                margin: 0;
                                display: flex;
                                align-content: center;
                                align-items: center;
                            }
                        }
                        .contCategProduct3{
                            width: 40%;
                            height: 30px;
                            margin: 4%;
                            position: absolute;
                            z-index: 2;
                            background: $categProduct3;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            border-radius: 5px;
                            .tituCategProduct {
                                font-family: $font, sans-serif;
                                font-size: 16px;
                                font-weight: 900;
                                color: $white;
                                margin: 0;
                                display: flex;
                                align-content: center;
                                align-items: center;
                            }
                        }
                        .contCategProduct4{
                            width: 40%;
                            height: 30px;
                            margin: 4%;
                            position: absolute;
                            z-index: 2;
                            background: $categProduct4;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            border-radius: 5px;
                            .tituCategProduct {
                                font-family: $font, sans-serif;
                                font-size: 16px;
                                font-weight: 900;
                                color: $white;
                                margin: 0;
                                display: flex;
                                align-content: center;
                                align-items: center;
                            }
                        }
                        .imgProduct {
                            width: 100%;
                            height: 100%;
                            -webkit-border-radius: 15px;
                            -webkit-border-top-right-radius: 0;
                            -moz-border-radius: 15px;
                            -moz-border-radius-topright: 0;
                            border-radius: 15px;
                            border-top-right-radius: 0;
                            display: block;
                            size: cover;
                            margin: auto;
                        }
                    }
                    .contText {
                        width: 100%;
                        height: 25%;
                        padding-left: 10%;
                        display: flex;
                        flex-direction: column;
                        float: left;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        margin: 0;
                        .tituProduct {
                            width: 100%;
                            font-family: $font, sans-serif;
                            font-size: 25px;
                            font-weight: bolder;
                            color: $lightblack;
                            margin: 0;
                            display: flex;
                            justify-content: flex-start;
                            align-content: center;
                            align-items: center;
                        }
                        .tituPrice {
                            width: 100%;
                            font-family: $font, sans-serif;
                            font-size: 18px;
                            font-weight: bolder;
                            color: $blue;
                            margin: 1% 0;
                            display: flex;
                            justify-content: flex-start;
                            align-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

.containerFooter {
    width: 100%;
    height: 100px;
    padding: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: $blue;
    .contDer {
        width: 70%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .text {
            width: 100%;
            font-family: $font, sans-serif;
            font-size: 14px;
            margin: 1% 0;
            font-weight: 800;
            color: $white;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }
    }
    .contIzq {
        width: 30%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .redes {
            width: 30px;
            height: 30px;
            margin: 0 1%;
        }
        .redes:hover {
            width: 35px;
            height: 35px;
            margin: 0 1%;
        }
    }
}

.containerBody::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    //@at-root: none;  /* Ocultar scroll */
}

.containerBody::-webkit-scrollbar-thumb {
    background: $lightGray;
    border-radius: 4px;
}

.containerBody::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $blue, $alpha: 0.5);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.containerBody::-webkit-scrollbar-thumb:active {
    background-color: $blue;
}

@media only screen and (max-width: 599px) {
    .containerBody {
        overflow-y: scroll;
    }
    
    .containerCabezera {
        width: 100%;
        height: 600px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .containerInfoCab {
            width: 100%;
            height: 500px;
            padding-left: 4%;
            padding-right: 4%;
            position: absolute;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            .ladoDer {
                width: 45%;
                height: 500px;
                justify-content: center;
                align-content: center;
                align-items: center;
                float: left;
                padding-left: 8%;
                padding-top: 4%;
                .titulo {
                    font-family: $font, sans-serif;
                    font-size: 75px;
                    font-weight: 900;
                    color: $white;
                }
                .parrafo {
                    font-family: $font, sans-serif;
                    width: 100%;
                    font-size: 14px;
                    margin-top: 6%;
                    margin-bottom: 6%;
                    color: $white;
                    line-height: 30px;
                }
                .containerBotConoce {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    .botConoce {
                        width: 35%;
                        height: 40px;
                        -webkit-border-radius: 10px;
                        -webkit-border-top-right-radius: 0;
                        -moz-border-radius: 10px;
                        -moz-border-radius-topright: 0;
                        border-radius: 10px;
                        border-top-right-radius: 0;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        background: $white;
                        .textBot {
                            font-family: $font, sans-serif;
                            font-weight: 600;
                            margin-left: 8px;
                            color: $black;
                        }
                        .arrow {
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    .botConoce:hover {
                        background: $blue;
                        .textBot {
                            color: $white;
                            font-weight: 900;
                        }
                        .arrow {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .ladoIzq {
                width: 55%;
                height: 500px;
                float: right;
                justify-content: center;
                align-content: center;
                align-items: center;
                padding-bottom: 2%;
                .imgCasa {
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin: auto;
                }
            }
        }
        .imgFondo {
            width: 100%;
            height: 100%;
            display: block;
                    margin: auto;
        }
    }
    
    .containerCategorias {
        width: 100%;
        height: 1200px;
        margin: 0 0 8% 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .containerTitulo {
            width: 100%;
            height: 10%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            .titulo {
                font-family: $font, sans-serif;
                font-size: 30px;
                font-weight: 800;
                color: $black;
            }
        }
        .container {
            width: 100%;
            height: 90%;
            margin: 2% 0 2% 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            .section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                .row {
                    width: 100%;
                    margin: 0;
                    padding: 0 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .categoria {
                        width: 80%;
                        height: 250px;
                        -webkit-border-radius: 20px;
                        -webkit-border-top-right-radius: 0;
                        -moz-border-radius: 20px;
                        -moz-border-radius-topright: 0;
                        border-radius: 20px;
                        border-top-right-radius: 0;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        margin: 2%;
                        background: $white;
                        -webkit-box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                        -moz-box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                        box-shadow: 0px 14px 82px -44px rgba(0,0,0,0.55);
                        .imgCateg {
                            width: 100%;
                            height: 80%;
                            display: block;
                            margin: auto;
                            -webkit-border-radius: 20px;
                            -webkit-border-top-right-radius: 0;
                            -moz-border-radius: 20px;
                            -moz-border-radius-topright: 0;
                            border-radius: 20px;
                            border-top-right-radius: 0;
                        }
                        .tituCateg {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 700;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    
    .containerProductos {
        height: 800px;
        .containerTitulo {
            width: 100%;
            height: 10%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            .titulo {
                font-family: $font, sans-serif;
                font-size: 25px;
                font-weight: 800;
                color: $black;
            }
        }
        .container {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            .section {
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                .row {
                    width: 100%;
                    margin: 0;
                    padding: 0 1%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    .producto {
                        width: 46%;
                        height: 200px;
                        -webkit-border-radius: 10px;
                        -webkit-border-top-right-radius: 0;
                        -moz-border-radius: 10px;
                        -moz-border-radius-topright: 0;
                        border-radius: 10px;
                        border-top-right-radius: 0;
                        margin: 2%;
                        .contImgProduct {
                            width: 100%;
                            height: 75%;
                            position: relative;
                            .contCategProduct1{
                                width: 60%;
                                .tituCategProduct {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .contCategProduct2{
                                width: 60%;
                                .tituCategProduct {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .contCategProduct3{
                                width: 60%;
                                .tituCategProduct {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .contCategProduct4{
                                width: 60%;
                                .tituCategProduct {
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                            .imgProduct {
                                -webkit-border-radius: 10px;
                                -webkit-border-top-right-radius: 0;
                                -moz-border-radius: 10px;
                                -moz-border-radius-topright: 0;
                                border-radius: 10px;
                                border-top-right-radius: 0;
                            }
                        }
                        .contText {
                            padding-left: 5%;
                            .tituProduct {
                                font-size: 16px;
                                font-weight: 700;
                            }
                            .tituPrice {
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .containerFooter {
        height: 100px;
        padding: 1%;
        flex-direction: column;
        .contDer {
            width: 100%;
            height: 55%;
            .text {
                width: 100%;
                font-size: 12px;
                font-weight: 400;
                justify-content: center;
            }
        }
        .contIzq {
            width: 100%;
            height: 45%;
            .redes {
                width: 25px;
                height: 25px;
            }
            .redes:hover {
                width: 30px;
                height: 30px;
            }
        }
    }

    .containerBody::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    
    .containerBody::-webkit-scrollbar-thumb {
        background: $lightGray;
        border-radius: 4px;
    }
    
    .containerBody::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $blue, $alpha: 0.5);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .containerBody::-webkit-scrollbar-thumb:active {
        background-color: $blue;
    }
}